{% extends 'base2.html' %} {% block content %}
<h1 class="large text-primary">Sign Up</h1>
<p class="lead"><i class="fas fa-user"></i> Create your account</p>
<form action="/accounts/register/" method="POST" class="form">
  {% csrf_token %} {% for field in form %}
  <div class="form-group">
    {{ field.errors }}
    <label for="" class="">{{ field.label_tag }}</label>
    {{ field }} {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}

  <input type="submit" value="Register" class="btn btn-primary" />
  <p class="my-1">
    Already have an account? <a href="{% url 'login' %}">Login</a>
  </p>
</form>
{% endblock %}
